{% extends "../base.html" %}
{% block content %}


    <div>
        <h1>Signup</h1>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}Required. 150 characters or fewer. Letters, digits, and @/./+/-/_ only.</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label_tag }}</td>
                    <td>{{ form.password1 }}</td>
                    <td>
                    </tr>
                    <tr>
                        <td>{{ form.password2.label_tag }}</td>
                        <td>{{ form.password2 }}Enter the same password as before, for verification.</td>
                    </tr>
                </table>

                <button type="submit">Signup</buttom>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>

{% endblock %}


