{% extends "../base.html" %}
{% block content %}

    <div>
        <h1>My Tasks</h1>
        {% if not taskslist %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in taskslist %}
                        <tr>
                            <td>{{ object.name }}</td>
                            <td>{{ object.start_date }}</td>
                            <td>{{ object.due_date }}</td>
                            <td>{% if object.is_completed == False %}
                                <form method="post" action="{% url 'complete_task' object.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True">
                                    <button>Complete</button>
                                </form>
                            {% else %}Done{% endif %}</td>
                        </tr>
                    {% endfor %}
        {% endif %}
    </tbody>
    </table>
    </div>

{% endblock %}