{% extends "../base.html" %}
{% block content %}
    {% load markdownify %}

    <div>
        <h1>{{ projectsdetail.name }}</h1>
        <p>{{ projectsdetail.description|markdownify }}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        {% if projectsdetail.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in projectsdetail.tasks.all %}
                        <tr>
                            <td>{{ object.name }}</td>
                            <td>{{ object.assignee }}</td>
                            <td>{{ object.start_date }}</td>
                            <td>{{ object.due_date }}</td>
                            <td>{{ object.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}

    </div>

{% endblock %}