{% extends "../base.html" %}
{% block content %}

    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        {% if not projectslist %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in projectslist %}
                        <tr>
                            <td><a href="{% url 'show_project' object.pk %}">{{ object.name }}</a></td>
                            <td>{{ object.tasks.count }}</td>
                        </tr>
                    {% endfor %}
        {% endif %}
    </tbody>
    </table>
    </div>

{% endblock %}